/*INICIO MENU*/
header nav{
    background: rgb(15, 14, 17);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

header nav div{
    display: flex;
    width: 12vh;
    height: 6vh;
    font-size: 2.5vh;
    align-items: center;
    justify-content: center;
    border-bottom: rgb(15, 14, 17) 0.45vh solid;
    transition: 0.2s;
}

header nav .menu{
    width: 12vh;
}

header nav .pesquisa{
    width: 19.3vh;
}

header nav .jogos{
    width: 13.2vh;
}

header nav .login{
    position: absolute;
    left: 90%;
}

header nav div a{
    padding: 2vh;
    color: whitesmoke;
    text-decoration: none;
}

header nav #ativo{
    background: rgb(36, 33, 39);
    border-bottom: whitesmoke 0.45vh solid;
}

header nav div:hover{
    background: rgb(36, 33, 39);
    border-bottom: whitesmoke 0.45vh solid;
    transition: 0.25s;
}
/*FIM MENU*/


.container table{
    border: none;
    border-collapse: collapse;
}

.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(15, 14, 17);
    color: whitesmoke;
}

.container th, td{
    padding: 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15vw;
}

.container td{
    background-color: rgb(30, 28, 34);
    
}

body{
    background-color: rgb(230, 230, 230);
    background-image: url(../img/login-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    margin-bottom: 3vh;
}

body .box{
    margin: 5% 30% 1% 30%;
    display: block;
    padding: 0.5vh 2.5vh 0.5vh 2.5vh;
    color: whitesmoke;
    border-radius: 0.6vh;
}

.colunas{
    width: 100%;
    display: flex;
}

.coluna1{
    display: flex;
    flex-direction: row;
    width: 130%;
}

.coluna2{
    width: 70%;
}

.coluna3{
    width: 100%;
}

body .box input{
    font-size: 2.5vh;
    font-weight: bold;
    background-color: rgb(15, 14, 17);
    display: block;
    margin: auto;
    margin-top: 1vh;
    width: 95%;
    height: 3vh;
    border: none;
    border-radius: 10px;
    padding: 2vh;
    color: whitesmoke;
    outline: none;
}

body .box:hover input{
    background-color: rgb(22, 21, 26);
}
*{
    font-family: 'montserrat', 'trebuchet ms';
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(22, 21, 24);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(80, 79, 85);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(94, 93, 100);
}