body{
    margin: 0;
    background: url(../img/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

body .box-cadastro{
    display: block;
    margin: auto;
    margin-top: 20vh;
    width: 35vw;
    height: 50vh;
    background-color: rgb(36, 33, 39);
    padding: 5vh 2vh 3vh 2vh;
    border-radius: 1vh;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body .box-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body .box-cadastro label{
    margin-bottom: 0.3vh;
}

body .box-cadastro .textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2vh;
}

body .box-cadastro input{
    width: 14vw;
    outline: none;
    background-color: rgb(48, 44, 53);
    border: none;
    border-radius: 0.5vh;
    padding: 0.8vh 1vh;
    color: rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body .box-cadastro #enviar{
    background-color: rgb(206, 78, 78);
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
    border-radius: 1vh;
    width: 82%;
    color: whitesmoke;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.3vw;
    padding: 1vh;
    box-shadow: rgba(255, 27, 27, 0.281) 1.95px 1.95px 2.6px;
    cursor: pointer;
}

body .box-cadastro #ignorarLogin{
    width: 100%;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    box-shadow: none;
    background: none;
}

body .box-cadastro form{
    text-align: center;
}

body .box-cadastro a{
    text-decoration: none;
    color: whitesmoke;
}



*{
    font-family: 'montserrat', 'trebuchet ms';
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgb(22, 21, 24);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(80, 79, 85);
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(94, 93, 100);
}