

/*MENU INICIO*/
header nav{
    background: rgb(32, 32, 32);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

header nav .menu{
    display: flex;
    font-size: 2.5vh;
    height: 6vh;
    width: 12vh;
    align-items: center;
    justify-content: center;
    border-bottom: rgb(32, 32, 32) 0.45vh solid;
}

header nav .jogos{
    display: flex;
    font-size: 2.5vh;
    height: 6vh;
    width: 13.2vh;
    align-items: center;
    justify-content: center;
    border-bottom: rgb(32, 32, 32) 0.45vh solid;
}

header nav .menu a{
    color: whitesmoke;
    text-decoration: none;
}

header nav .jogos a{
    color: whitesmoke;
    text-decoration: none;
}

header nav .menu:hover{
    background: rgb(43, 43, 43);
    border-bottom: whitesmoke 0.45vh solid;
}

header nav .jogos:hover{
    background: rgb(43, 43, 43);
    border-bottom: whitesmoke 0.45vh solid;
}
/*MENU FIM*/





body{
    background-color: rgb(230, 230, 230);
    background-image: url(../img/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'montserrat';
}

body .box{
    margin: 5% 30% 3% 30%;
    display: block;
    background-color: rgba(31, 31, 31, 0.801);
    padding: 0.5vh 2.5vh 0.5vh 2.5vh;
    color: whitesmoke;
    border-radius: 0.6vh;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

body .box img{
    width: 6vh;
    height: 6vh;
    float: right;
    pointer-events: none;
}

body .box input{
    font-size: 2vh;
    font-weight: bold;
    font-family: 'montserrat';
    background-color: rgb(32, 32, 32);
    display: block;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 95%;
    height: 6vh;
    border: none;
    border-radius: 3px;
    padding: 2vh;
    color: whitesmoke;
}

body .body2{
    margin: 0% 5% 5% 5%;
    display: block;
    padding: 0.5vh 3.5vh 0.5vh 4.5vh;
    background-color: rgba(31, 31, 31, 0.959);
    color: whitesmoke;
    border-radius: 1vh;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 10px;
}

body .body2 #title{
    font-size: 3.4vh;
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
}